* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #ff4500;
  --secondaryColor: #0079d3;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #dae0e6;
}
.form-image {
  content: url('../assets/images/form-img.png');
}
.signup-section .form-image {
  min-height: 705px;
  width: 30%;
}
.login-section .form-image {
  min-height: 630px;
}

.form-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-section .form-container {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
}
.form-side {
  padding: 35px;
}
.back-to-home {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 22px;
}
.back-to-home a {
  color: #000;
}
.back-to-home:hover a {
  color: #0779d3;
}
.form-loginwith {
  display: flex;
  flex-direction: column;
  margin: 55px 0px 0;
  position: relative;
  width: 300px;
  padding-bottom: 30px;
}
.form-loginwith::after {
  content: "OR";
  position: absolute;
  bottom: -8px;
  left: 47%;
  background-color: #fff;
  text-align: center;
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 500;
}
.form-loginwith::before {
  content: "";
  height: 1px;
  background-color: #e8e8e8;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.form-loginwith button {
  background-color: transparent;
  border: 1px solid var(--secondaryColor);
  height: 50px;
  border-radius: 4px;
  color: var(--secondaryColor);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 65px;
  position: relative;
  display: flex;
  align-items: center;
}
.form-loginwith i {
  position: absolute;
  left: 22px;
  font-size: 20px;
}
.form-title {
  font-size: 18px;
  font-weight: 500;

  margin-bottom: 10px;
}
.form-text {
  font-size: 13px;
  font-weight: 300;
  width: 85%;
  line-height: 1.6;
}
.form-btn {
  text-decoration: none;
  border: 1px solid var(--secondaryColor);
  border-radius: 30px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--secondaryColor);
  color: #fff;
  cursor: pointer;
  margin-top: 12px;
}
.form-btn:hover {
  background-color: #228ddc;
}
.form {
  margin-top: 40px;
  width: 300px;
}
.form input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
  padding: 0px 16px;
  margin-top: 12px;
  font-size: 14px;
}
.form input::placeholder {
  font-size: 12px;
}
.form input:focus {
  outline: 0;
}
.form input:focus {
  border: 1px solid var(--secondaryColor) !important;
}
.form input:hover {
  border: 1px solid var(--secondaryColor);
}
.forget-password {
  font-size: 12px;
  display: block;
  margin: 14px 0 28px;
}
.new-account, 
.already-redditor {
  font-size: 13px;
  display: block;
}
.new-account a, 
.already-redditor a {
  color: var(--secondaryColor);
  text-decoration: none;
  font-weight: 600;
}
.already-redditor {
  margin-top: 14px;
}
.red-placeholder::placeholder {
  color: red;
}
.error-message {
  color: red;
  font-size: 12px;
  display: inline-block;
  line-height: 1.5;
}
/** Media query **/
@media screen and (max-width: 1366px) {
  .form-loginwith, 
  .form {
    width: auto;
  }
  .form-section .form-container {
    width: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .form-section .form-container {
    width: 80%;
    justify-content: center;
  }
  .form-section {
    width: 100%;
  }
  .form-image {
    display: none;
  }
  .back-to-home {
    right: 20px;
    top: 30px;
  }
}
@media screen and (max-width: 650px) {
  
}