@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #ff4500;
  --secondaryColor: #0079d3;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #dae0e6;
}
.container {
  width: 1000px;
  margin: auto;
}
.hidden {
  display: none !important;
}
.section-title {
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1b;
  padding-left: 10px;
}
/* header */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 48px;
  padding: 0 10px;
}
.site-logo a {
  width: 92px;
}
.site-logo img {
  width: 100%;
}
.site-logo,
.content-filter,
.search-bar,
.extra-icons,
.get-coins,
.user-id {
  display: flex;
  align-items: center;
}
.site-logo,
.content-filter,
.search-bar,
.user-id {
  margin: 0 10px;
}
.content-filter {
  width: 15%;
  justify-content: space-between;
  height: 38px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 10px;
}
.content-filter:hover {
  border-color: #dcdcdc;
}
.content-filter span {
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
}
.content-filter .filter-title i {
  font-size: 18px;
}
.content-filter .fa-angle-down {
  font-size: 18px;
  padding-left: 8px;
}
.search-bar {
  position: relative;
  width: 800px;
  margin: auto;
}
.search-bar i {
  position: absolute;
  left: 14px;
  color: #bdbdbd;
}
.search-bar input {
  width: 100%;
  height: 38px;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 0 40px;
  font-size: 14px;
  background-color: #f7f7f7;
}
.search-bar input:focus {
  outline: none;
}
.search-bar input:focus,
.search-bar input:hover {
  border: 1px solid var(--secondaryColor);
}
.extra-icons {
  width: 14%;
  justify-content: space-between;
}
.extra-icons img {
  width: 28px;
  padding: 4px;
  cursor: pointer;
}
.extra-icons img:hover {
  background-color: #ddd;
  border-radius: 4px;
}
.extra-icons .left-icons {
  border-right: 1px solid #ececec;
}
.extra-icons .left-icons,
.extra-icons .right-icons {
  width: 50%;
  height: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.create-post {
  background-color: transparent;
  border: none;
}
.create-post img {
  width: 30px;
  padding-top: 5px;
}
.get-coins {
  width: 110px;
  justify-content: center;
  border: 1px solid #daac45;
  border-radius: 30px;
  padding: 4px 2px;
}
.get-coins img {
  width: 22px;
}
.get-coins span {
  font-size: 13px;
  padding-left: 5px;
}
.login-signup__btns {
  margin: 0 25px;
  display: flex;
}
.login-signup__btns a {
  text-decoration: none;
  border: 1px solid var(--secondaryColor);
  border-radius: 30px;
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 600;
  margin: 0px 6px;
}
.login-signup__btns .login-btn {
  color: var(--secondaryColor);
}
.login-signup__btns .signup-btn {
  color: #fff;
  background-color: var(--secondaryColor);
}
.user-id {
  width: 200px;
  justify-content: space-between;
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.user-id:hover {
  border-color: #dcdcdc;
}
.user-id a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.user-id .user-info {
  display: flex;
  align-items: center;
}

.user-id .user-image {
  width: 30px;
}
.user-id .user-image img {
  width: 100%;
}
.user-id .user-meta {
  display: flex;
  flex-direction: column;
}
.user-id .user-meta .user-name {
  font-size: 12px;
  font-weight: 500;
}
.user-id .user-meta .user-karma {
  font-size: 13px;
  color: #9e9e9e;
}
.user-id i {
  padding-left: 8px;
}
.user-avatar {
  margin-right: 30px;
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 4px;
  width: 55px;
  display: flex;
  justify-content: center;
}
.user-avatar:hover {
  border-color: #dcdcdc;
}
.user-avatar i:first-child {
  font-size: 18px;
  color: #7d7d7d;
  padding-right: 8px;
}
/* main content */
.trending-today {
  margin: 15px 0;
}
.trending-cards {
  display: flex;
}
.trending-cards .trending-card {
  width: 25%;
  padding: 10px;
  position: relative;
}
.trending-cards .trend-image {
  filter: brightness(0.5);
}
.trending-card img {
  width: 100%;
}
.trending-card .trend-text {
  position: absolute;
  bottom: 25px;
  color: #fff;
  padding: 0 12px;
}
.trending-card .trend-excerpt {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}
.trending-card .trend-subreddit {
  font-size: 12px;
}
.main-content .container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 35px;
}
.popular-posts {
  display: flex;
  justify-content: center;
  width: 68%;
  padding-right: 15px;
}
.sidebar {
  width: 32%;
  padding-left: 15px;
}
.post-card {
  display: flex;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 14px;
  cursor: pointer;
}
.post-card:hover {
  border-color: #a9a9a9;
}
.post-card .post-vote {
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 8px 0;
}
.post-card .post-vote button {
  background-color: transparent;
  border: none;
}
.post-card .post-vote i {
  font-size: 20px;
  color: #8e949a;
}
.post-card .post-vote span {
  padding: 6px 0;
  font-size: 14px;
  font-weight: 500;
}
.post-content {
  width: 92%;
}
.post-card .post-header {
  padding: 8px;
}
.popular-posts .post-image img {
  width: 100%;
}
.post-author,
.post-date {
  color: #797979;
}
.post-card .post-meta {
  font-size: 12px;
}
.post-card .post-title {
  font-size: 20px;
  font-weight: 500;
  margin: 8px 0;
}
.post-card .post-subreddit {
  font-size: 14px;
  font-weight: 600;
}
.post-card .post-footer {
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #797979;
}
.post-card .post-footer i {
  padding-right: 4px;
  font-size: 18px;
}
.post-card .post-comments {
  display: flex;
  align-items: center;
}
/** sidebar **/
.sidebar > section {
  margin-bottom: 14px;
}
.links {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  overflow: hidden;
  padding: 14px;
}
.links .link-items {
  display: flex;
}
.links ul {
  width: 50%;
}
.links li {
  list-style-type: none;
  font-size: 12px;
  padding-bottom: 5px;
}
.copyrights {
  font-size: 13px;
  margin-top: 25px;
  display: inline-block;
}
.home-widget {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  overflow: hidden;
}
.home-content {
  position: relative;
  top: -30px;
  padding: 14px;
}
.home-widget .home-text {
  display: flex;
  align-items: center;
}
.home-widget .home-content p {
  font-size: 14px;
  margin: 15px 0;
}
.home-btns a {
  text-decoration: none;
  border: 1px solid var(--secondaryColor);
  border-radius: 30px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 600;
}
.home-btns a:first-child {
  color: #fff;
  background-color: var(--secondaryColor);
  margin-bottom: 10px;
}
.home-btns a:last-child {
  color: var(--secondaryColor);
}
.home-widget .home-banner img {
  width: 100%;
}
.home-text img {
  width: 55px;
}
.back-to-top {
  text-decoration: none;
  border: 1px solid var(--secondaryColor);
  border-radius: 30px;
  display: inline-block;
  width: 115px;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: var(--secondaryColor);
  position: fixed;
  bottom: 10px;
  right: 28%;
  cursor: pointer;
}
.back-to-top:hover {
  background-color: #0079d3d6;
}
.btt-hidden {
  display: none;
}
.up-vote::after,
.down-vote::after {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  color: #8e949a;
}
.up-vote::after {
  content: "\f35b";
}
.down-vote::after {
  content: "\f358";
}
/* dashboard */
.user-widget {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  overflow: hidden;
}
.user-widget .widget-banner img {
  width: 100%;
}
.user-widget .user-content {
  position: relative;
  top: -58px;
}
.user-widget .user-pic {
  border: 4px solid #e2e2e2;
  width: 80px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
}
.user-widget .user-pic img {
  width: 50px;
}
.user-widget .user-name,
.user-widget .user-email {
  font-size: 13px;
}
.user-widget .user-name {
  margin-top: 6px;
  display: block;
}
.user-widget .new-post {
  text-decoration: none;
  border: 1px solid var(--secondaryColor);
  border-radius: 30px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: var(--secondaryColor);
  margin-bottom: 10px;
  margin-top: -30px;
  display: block;
}
.user-widget .widget-bottom {
  padding: 10px;
}
.logout__btn a {
  text-decoration: none;
  border: 1px solid var(--secondaryColor);
  border: 1px solid #ff2700;
  border-radius: 30px;
  display: inline-block;
  width: 95px;
  text-align: center;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 600;
  margin: 0px 6px;
  color: #ff2700;
  background-color: #ffffff;
}
.newpost-container .container {
  display: flex;
  margin-top: 35px;
}
.newpost-container .newpost {
  width: 68%;
  padding-right: 15px;
}
.newpost-heading {
  font-weight: 500;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 15px;
  margin-bottom: 12px;
}
.choose-community {
  height: 38px;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 14px;
  margin-bottom: 8px;
  color: #232323;
  background-color: #fff;
  font-weight: 600;
  width: 250px;
}
.choose-community:focus {
  outline: none;
  border: 1px solid var(--secondaryColor);
}
.choose-community option {
  height: 35px;
}
.newpost-form label {
  display: none;
}
.newpost-editor {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px 4px 0 0;
}
.newpost-form input,
.newpost-form textarea {
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 8px;
  color: #232323;
}
.newpost-form input:focus,
.newpost-form textarea:focus {
  outline: none;
}
.newpost-form input:focus,
.newpost-form input:hover,
.newpost-form textarea:focus,
.newpost-form textarea:hover {
  border: 1px solid var(--secondaryColor);
}
.newpost-form input {
  height: 38px;
}
.submit-newpost {
  text-decoration: none;
  border: 1px solid var(--secondaryColor);
  border-radius: 30px;
  display: inline-block;
  width: 68px;
  padding: 7px 0px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: var(--secondaryColor);
  margin-bottom: 10px;
  cursor: pointer;
  align-self: flex-end;
}
.newpost-footer {
  background-color: #F6F7F8;
  height: 80px;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #ececec;
  display: flex;
  align-items: center;
  padding: 0 15px
}
.newpost-footer p {
  font-size: 13px;
}
.newpost-footer a {
  color: #0779d3;
  font-weight: 500;
  text-decoration: none;
}
/* single post */
.community-widget {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  overflow: hidden;
}
.community-widget .widget-banner {
  height: 35px;
  overflow: hidden;
}
.community-widget .widget-banner img {
  width: 100%;
}
.community-name-pic {
  display: flex;
  align-items: center;
}
.community-widget .community-pic {
  border: 2px solid #e2e2e2;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #bfe4fc;
}
.community-widget .community-pic img {
  width: 50px;
}
.community-widget .community-name {
  font-size: 16px;
  margin-top: 6px;
  display: block;
  font-weight: 500;
  margin-left: 10px;
}
.community-widget .about-comunity {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.community-widget .community-members {
  display: block;
  margin-bottom: 12px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
}
.community-widget .community-members span {
  display: block;
  font-size: 13px;
}
.community-widget .about-btn {
  text-decoration: none;
  border: 1px solid var(--secondaryColor);
  border-radius: 30px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 6px 0px;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondaryColor);
  background-color: #fff;
  margin-bottom: 10px;
  display: block;
}
.community-widget .widget-bottom {
  padding: 10px;
}
/** Media Query **/
@media screen and (max-width: 1140px) {
  .extra-icons,
  .get-coins {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: auto;
    margin: 0 25px;
  }
  .sidebar {
    display: none;
  }
  .popular-posts {
    width: 100%;
    padding-left: 15px;
  }
  .newpost-container .newpost {
    width: 100%;
    padding-left: 15px;
  }
}
@media screen and (max-width: 767px) {
  .site-logo a {
    width: 70px;
  }
  .content-filter span {
    display: none;
  }
  .user-id {
    justify-content: flex-end;
    width: auto;
  }
  .user-id .user-meta {
    display: none;
  }
  .login-signup__btns a {
    width: 75px;
  }
  .trending-cards {
    flex-wrap: wrap;
  }
  .trending-cards .trending-card {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .site-logo {
    margin-left: 0;
  }
  .login-signup__btns {
    margin: 0;
  }
  .user-avatar i:last-child {
    display: none;
  }
  .trending-cards .trending-card {
    width: 100%;
  }
}
